@page "/Meteorological"

@using hybr.Shared.Services
<PageTitle>Meteorological</PageTitle>
<Grid Style="height:100%" @ref=@UpdateGrid.AllUpdateGrid["Meteorological"] TItem="Sensor" DataProvider="DataProvider">
<Preload />
<div id="parent">
    <div id="grid11" class="gridContent compassDiv">
            <div id="compass" class="textDiv">
            <Spinner Class="me-3" Type="SpinnerType.Dots" Color="SpinnerColor.Danger" Visible="@SensorData.AllSensors[103].Disconnected" Size="SpinnerSize.ExtraLarge" />
        </div>
        <div id="compass" class="gridContent">
            <LineChart @ref=LiveChartElement.MeteorologicalChartTemperature Width="100" WidthUnit="Unit.Percentage" Height="100" HeightUnit="Unit.Percentage" />
        </div>
    </div>
    <div id="grid21" class="gridContent compassDiv">
        <div id="compass" class="textDiv">
        <Spinner Class="me-3" Type="SpinnerType.Dots" Color="SpinnerColor.Danger" Visible="@SensorData.AllSensors[103].Disconnected" Size="SpinnerSize.ExtraLarge" />
    </div>
    <div id="compass" class="gridContent">
            <LineChart @ref=LiveChartElement.MeteorologicalChartHumidity Width="100" WidthUnit="Unit.Percentage" Height="100" HeightUnit="Unit.Percentage" />
    </div>
</div>
    <div id="grid31" class="gridContent compassDiv">
        <div id="compass" class="textDiv">
            <Spinner Class="me-3" Type="SpinnerType.Dots" Color="SpinnerColor.Danger" Visible="@SensorData.AllSensors[103].Disconnected" Size="SpinnerSize.ExtraLarge" />
        </div>
        <div id="compass" class="gridContent">
                <LineChart @ref=LiveChartElement.MeteorologicalChartPressure Width="100" WidthUnit="Unit.Percentage" Height="100" HeightUnit="Unit.Percentage" />
        </div>
    </div>
    <div id="grid12" class="gridContent">
            <LineChart @ref=LiveChartElement.MeteorologicalChartSolarRadiation Width="100" WidthUnit="Unit.Percentage" Height="100" HeightUnit="Unit.Percentage" />
    </div>
    <div id="grid22" class="gridContent compassDiv">
        <div id="compass" class="textDiv">@SensorData.AllSensors[107].Value_of_m</div>
        <div id="compass">
            <Compass />
        </div>
        <div style="justify-self:center;
                    width:20%;
                    height:80%;
                    transform: rotate(@(SensorData.AllSensors[106].Value_of_m)deg);
                    transition: transform 0.5s ease-in-out;
                    grid-column: 1;
                    grid-row: 1;">
            <CompassArrow />
        </div>
    </div>
    <div id="grid32" class="gridContent">
            <Alert Color="@SensorData.AllSensors[103].Alert" Dismissable="false"> <Icon Name="@SensorData.AllSensors[103].Icon" class="me-2"></Icon>Датчик температуры воздуха @SensorData.AllSensors[103].Value_of_m, °C</Alert>
            <Alert Color="@SensorData.AllSensors[104].Alert" Dismissable="false"> <Icon Name="@SensorData.AllSensors[104].Icon" class="me-2"></Icon>Датчик влажности воздуха @SensorData.AllSensors[104].Value_of_m, %</Alert>
            <Alert Color="@SensorData.AllSensors[105].Alert" Dismissable="false"> <Icon Name="@SensorData.AllSensors[105].Icon" class="me-2"></Icon>Датчик давления @SensorData.AllSensors[105].Value_of_m, мм.рт.ст.</Alert>
            <Alert Color="@SensorData.AllSensors[106].Alert" Dismissable="false"> <Icon Name="@SensorData.AllSensors[106].Icon" class="me-2"></Icon>Датчик направления ветра @SensorData.AllSensors[106].Value_of_m, °</Alert>
            <Alert Color="@SensorData.AllSensors[107].Alert" Dismissable="false"> <Icon Name="@SensorData.AllSensors[107].Icon" class="me-2"></Icon>Датчик скорости ветра @SensorData.AllSensors[107].Value_of_m, м/с</Alert>
            <Alert Color="@SensorData.AllSensors[108].Alert" Dismissable="false"> <Icon Name="@SensorData.AllSensors[108].Icon" class="me-2"></Icon>Датчик солнечной радиации @SensorData.AllSensors[108].Value_of_m, Вт/м2</Alert>
    </div>
</div>
</Grid>

@code {
    [Inject] protected PreloadService PreloadService { get; set; } = default!;
    private async Task<GridDataProviderResult<Sensor>> DataProvider(GridDataProviderRequest<Sensor> request)
    {
        return await Task.FromResult(request.ApplyTo(new List<Sensor>(new Sensor[1])));
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            LiveChartElement.PageProperty("Meteorological");
            PreloadService.Show(SpinnerColor.Light, "Синхронизация...");
            await Task.Delay(1300);
            PreloadService.Hide();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
