@*@page "/Settings"
@using System.ComponentModel.DataAnnotations
@using hybr.Shared.Services
@inject NavigationManager Navigation
@if (GlobalData.auth)
{
    <Accordion>
        @foreach (var (_key, _value) in ValueSettings.Stations)
        {
            <AccordionItem>
                <TitleTemplate>
                    @_value.FullTitle
                </TitleTemplate>
                <Content>
                    <div class="mb-3">
                        <EditForm EditContext="@editContext">
                            <DataAnnotationsValidator />
                            <div class="form-group row mb-3">
                                <label class="col-md-2 col-form-label">Адресс станции: <span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <TextInput @bind-Value="@ValueSettings.Stations[_key].Title" Rows="3" Placeholder="Введите название станции" />
                                    <TextInput @bind-Value="@ValueSettings.Stations[_key].ShortTitle" Rows="3" Placeholder="Введите короткое название станции" />
                                    <TextInput @bind-Value="@ValueSettings.Stations[_key].FullTitle" Rows="3" Placeholder="Введите полное название станции" />
                                    <TextInput @bind-Value="@ValueSettings.Stations[_key].Station_Ip" Rows="3" Placeholder="Введите IP адресс станции" />
                                </div>
                            </div>
                            @foreach (var id in _value.SensorsId){
                                <Accordion>
                                    <AccordionItem>
                                        <TitleTemplate>
                                            @ValueSettings.Sensors[id].Title
                                        </TitleTemplate>
                                        <Content>
                                            <div class="form-group row mb-3">
                                                <label class="col-md-2 col-form-label">Номер датчика:</label><div class="col-md-10">@id</div>
                                            </div>
                                            <div class="form-group row mb-3">
                                                <label class="col-md-2 col-form-label">Градуировочное уравнение: <span class="text-danger">*</span></label>
                                                <div class="col-md-10">
                                                    <TextAreaInput @bind-Value="@ValueSettings.Sensors[id].GraduationString" Rows="3" Placeholder="Введите градуировочное уравнение" />
                                                </div>
                                            </div>
                                            <div class="form-group row mb-3">
                                                <label class="col-md-2 col-form-label">Минимальное значение: <span class="text-danger">*</span></label>
                                                <div class="col-md-10">
                                                    <NumberInput @bind-Value="ValueSettings.Sensors[id].Value_min" Rows="3" Placeholder="Введите минимальное значение измерения датчика" />
                                                </div>
                                            </div>
                                            <div class="form-group row mb-3">
                                                <label class="col-md-2 col-form-label">Максимальное значение: <span class="text-danger">*</span></label>
                                                <div class="col-md-10">
                                                    <NumberInput @bind-Value="ValueSettings.Sensors[id].Value_max" Rows="3" Placeholder="Введите максимальное значение измерения датчика" />
                                                </div>
                                            </div>
                                        </Content>
                                    </AccordionItem>
                                </Accordion>
                            }
                        </EditForm>
                    </div>
                </Content>
            </AccordionItem>
        }
    </Accordion>
} else {
    <Button Color="ButtonColor.Primary" @onclick="() => SharedFunction.GoToURL(Navigation,_url)">Вернуться</Button>
    <h3>Доступ запрещен</h3>
}
@code {
    public string _url = "";
    private Sensor product = new();
    private EditContext? editContext;
    protected override void OnInitialized()
    {
        editContext = new EditContext(product);
        base.OnInitialized();
    }
}
*@